@import '../../App.scss';

.Dashboard {
    background-color: $grey-dark;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    .Header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-right: 10px;

        &__Title {
            margin: 0;
            font-size: $font-xxl;
            color: $primary-white;
            font-family: 'Bebas';
            opacity: 0.4;
            margin-left: 30px;
        }
    }
}

.Overlay {
    position: absolute;
    background-color: $grey-dark;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    opacity: 0.6;
    z-index: 4;
}

// react-simple-map style override
svg.rsm-svg {
    height: 95vh;
    margin: 0 auto;
    margin-top: -30px;
    display: block;
}