@import '../../App.scss';

.trend {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;

    &__title {
        font-size: $font-medium;
        text-align: center;
        margin: 0;
        font-family: 'Bebas';
        color: $primary-white;
        opacity: 0.6;
    }

    &__button-group {
        display: flex;
        margin-left: 50px;
    }

    &__button {
        padding: 5px;
        border: 1px solid $primary-white;
        font-family: 'Bebas';
        margin-right: 5px;
        cursor: pointer;
        background: $grey-light;
        color: $primary-white;

        &:hover, &--active {
            color: $grey-light;
            background: $primary-white;
            border: 1px solid transparent;
        }
    }

    &__term {
        font-family: 'Bebas';
        color: $primary-white;
        font-size: $font-xl;
        text-align: center;
        margin: 0;
        margin-bottom: 15px;
    }

    &__graph-container {
        margin-left: -40px;
    }
}
